<style>
  table th, table td {
    padding: 8px;
  }
</style>

<h2>All Music</h2>

<% flash.each do |key, message| %>
  <div class="flash <%= key %>">
    <%= message %>
  </div>
<% end %>

<br>

<table class="table table-striped">
  <thead>
    <tr>
    <th><%= link_to "Title", music_index_path(params.permit(:rating, :sort).merge(sort: "title")) %></th>
    <th><%= link_to "Album", music_index_path(params.permit(:rating, :sort).merge(sort: "album")) %></th>
    <th><%= link_to "Artist", music_index_path(params.permit(:rating, :sort).merge(sort: "artist")) %></th>
    <th><%= link_to "Genre", music_index_path(params.permit(:rating, :sort).merge(sort: "genre")) %></th>
    <th><%= link_to "Release Date", music_index_path(params.permit(:rating, :sort).merge(sort: "release_date")) %></th>
    <th><%= link_to "Rating", music_index_path(params.permit(:rating, :sort).merge(sort: "rating")) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |music| %>
      <tr>
        <td><%= music.title %></td>
        <td><%= music.album %></td>
        <td><%= music.artist %></td>
        <td><%= music.genre %></td>
        <td><%= music.release_date&.strftime("%B %d, %Y") %></td>
        <td><%= music.rating %></td>
        <td>
          <%= link_to 'Show', music_path(music), class: 'btn btn-info btn-sm' %>
          <%= link_to 'Edit', edit_music_path(music), class: 'btn btn-primary btn-sm' %>
          <%= button_to 'Delete', music_path(music), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Filter by Rating</h3>

<%= form_with url: music_index_path, method: :get, local: true do %>
  <%= label_tag :rating, "Rating" %>
  <%= select_tag :rating,
        options_for_select([1,2,3,4,5]),
        include_blank: true %>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<br>
<%= link_to 'Add New Music', new_music_path, class: 'btn btn-success' %>

<br>
<%= link_to 'Back To Home', music_index_path, class: 'btn btn-secondary' %>

